venv/
FlaskProjects/TEST_API/testapinew
FlaskProjects/QBInputAutomation/qpenv
FlaskProjects/RedisSession/redisenv
FlaskProjects/PathOperationConfiguration/fastapi
FlaskProjects/1-Introduction/fastapienv
FlaskProjects/2-Path_Parameters/fastapienv
FlaskProjects/3-Query_Parameters/fastapienv
FlaskProjects/4-Request_Body/fastapienv
FlaskProjects/5-query_params_string_validation/fastapienv
FlaskProjects/6-path_params_numeric_validation/fastapienv
FlaskProjects/7-body_multiple_parameters/fastapienv
FlaskProjects/8-body_fields/fastapienv
FlaskProjects/9-body_nested_models/fastapienv
FlaskProjects/10-request_example_data/fastapienv
FlaskProjects/11-extra_data_types/fastapienv
FlaskProjects/12-cookie_and_header_parameters/fastapienv
FlaskProjects/13-response_model/fastapienv
FlaskProjects/14-extra_models/fastapienv
FlaskProjects/15-response_status_codes/fastapienv
FlaskProjects/16-form_data/fastapienv
FlaskProjects/17-request_files/fastapienv
FlaskProjects/18-request_forms_and_files/fastapienv
FlaskProjects/19-handling_errors/fastapienv
FlaskProjects/20-path_operation_configuration/fastapienv
FlaskProjects/21-JSON_compatible_encoder/fastapienv
FlaskProjects/22-dependencies_intro/fastapienv
FlaskProjects/23-classes_as_dependencies/fastapienv
FlaskProjects/24-sub-dependencies/fastapienv
FlaskProjects/24-sub-dependencies/fastapienv
FlaskProjects/25-dependencies_in_path_operation_decorators/fastapienv
FlaskProjects/26-security_first_steps/fastapienv
FlaskProjects/27-security_oauth_jwt/fastapienv
FlaskProjects/28-middleware_and_CORS/fastapienv
FlaskProjects/29-sql_databases/fastapienv
FlaskProjects/29-sql_databases/fastapi
FlaskProjects/29-sql_databases/fast-api-frontend/node_modules
FlaskProjects/29-sql_databases/fast-api-frontend/.DS_Store
FlaskProjects/29-sql_databases/fast-api-frontend/build
FlaskProjects/29-sql_databases/fast-api-frontend/.svelte-kit
FlaskProjects/29-sql_databases/fast-api-frontend/package
FlaskProjects/29-sql_databases/fast-api-frontend/.env
FlaskProjects/29-sql_databases/fast-api-frontend/.env.*
FlaskProjects/29-sql_databases/fast-api-frontend/!.env.example
FlaskProjects/29-sql_databases/fast-api-frontend/vite.config.js.timestamp-*
FlaskProjects/29-sql_databases/fast-api-frontend/vite.config.ts.timestamp-*
FlaskProjects/30-bigger_applications_multiple_files/fastapi
FlaskProjects/31-background_tasks/fastapi
FlaskProjects/32-metadata_and_docs_urls/fastapi
FlaskProjects/33-static_files_testing_and_debugging/fastapi
DataScienceMasters/WorkingwithSQL/dbenv
DataScienceMasters/WorkingwithMongoDB/dbenv
